/* Palette used in this website: https://colorhunt.co/palette/1e03420e46a39ac8cde1f7f5 */
html {
    scroll-behavior: smooth;
  }
  
body{
    background-color: #1E0342!important;
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

.homePage{
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.textFormat-kode-mono {
    color: #E1F7F5;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.imgHome{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.homeText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.7);
    border-right: solid #E1F7F5 2px;
    border-left: solid #E1F7F5 2px;
    text-shadow: 1px 1px 10px rgba(225, 247, 245, 1),
                 1px -1px 8px rgba(225, 247, 245, 1);
}

.projectsBtn, .reflectionBtn{
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    width: 150px;
    height: 50px;
    font-size: 22px;
    padding: 0 25px 20px 25px;
    background-color: rgba(0, 0, 0, 0.7);
    border-right: solid #E1F7F5 2px;
    border-left: solid #E1F7F5 2px;
}

.projectsBtn{
    left: 10%;
    transform: translateY(-90%);
    transition: ease-in-out 0.22s;
}

.reflectionBtn{
    right: 10%;
    transform: translateY(-90%);
    transition: ease-in-out 0.22s;
}

.reflectionBtn:hover{
    width: 160px;
    text-shadow: 1px 1px 10px rgba(225, 247, 245, 1),
                 1px -1px 8px rgba(225, 247, 245, 1);
    padding: 0 50px 20px 50px;
    right: 7.7%;
}

.projectsBtn:hover{
    width: 160px;
    text-shadow: 1px 1px 10px rgba(225, 247, 245, 1),
                 1px -1px 8px rgba(225, 247, 245, 1);
    padding: 0 50px 20px 50px;
    left: 7.7%;
}

.projects{
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.projectSectionTitle{
    font-size: 38px;
    margin: 1.5rem 0 1.4rem 1.4rem;
    text-shadow: 1px 1px 10px rgba(225, 247, 245, 1),
                 1px -1px 8px rgba(225, 247, 245, 1);
}

.project1, .project2, .project3{
    width: 23rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    background-color: #0E46A3;
    border-radius: 15px;
    transition: ease-in-out 0.25s;
}

.projectImg{
    width: 100%;
    height: 45%;
    border-radius: 15px 15px 0 0;
    transition: ease-in-out 0.25s;
}

.projectTitle{
    margin-bottom: 0;
    font-size: 24px;
    align-self: center !important;
    text-shadow: 1px 1px 10px rgba(225, 247, 245, 1),
                 1px -1px 8px rgba(225, 247, 245, 1);
}

.projectDescription{
    height: 30%;
    margin: 0 15px 0 15px;
    font-size: 18px;
    transition: ease-in-out 0.25s;
}

.clickHere{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 24px;
    top: 7px;
    transition: ease-in-out 0.25s;
}

.project1:hover, .project2:hover, .project3:hover{
    width: 24rem;
    height: 32.5rem;
    display: flex;
    flex-direction: column;
    background-color: #0E46A3;
    border-radius: 15px;

    .projectImg{
        width: 100%;
        height: 45%;
        border-radius: 15px 15px 0 0;
    }
    .projectDescription{
        height: 25%;
        margin: 0 15px 0 25px;
        font-size: 18px;
    }
    .clickHere{
        text-shadow: 1px 1px 10px rgba(225, 247, 245, 1),
                 1px -1px 8px rgba(225, 247, 245, 1);
        top: 6.5%;
        margin-bottom: 20px;
    }
}


/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.82); /* Black background with opacity */
    opacity: 0;
    transition: ease-in-out 0.25s
}

.modal.show {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: ease-in-out 0.25s;
}

/* Modal content */
.modal-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    max-width: 85vw;
    max-height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: #1E0342;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

/* Close button */
.closeBtn {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #9AC8CD;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.closeBtn:hover,
.closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: #9AC8CD;
    padding: 5px 14px;
    border-radius: 100px;
    top: 10px;
    right: 10px;
}

.projectLinkBtn{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px 20px 8px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-right: solid #E1F7F5 2px;
    border-left: solid #E1F7F5 2px;
}

.projectLinkBtnCenter{
    display: flex;
    justify-content: center;
}

.projectLink{
    width: 40%;
    margin-right: 2%;
    transition: ease-in-out 0.25s;
}

.projectLink:hover{
    width: 45%;
    margin-right: 2%;
}

.rubeGoldbergDrafts{
    width: 100%;
    height: 70rem;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

.rubeGoldbergDraftLeft{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.rubeGoldbergDraftRight{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.rubeGoldbergFirstDraft{
    width: 32rem;
    height: 21rem;
    border-radius: 15px;
    transition: ease-in-out 0.5s;
}

.rubeGoldbergFinalDraft{
    width: 32rem;
    height: 21rem;
    border-radius: 15px;
    transition: ease-in-out 0.5s;
}

.rubeGoldbergFirstDraft:hover{
    width: 40rem;
    height: 26rem;
    margin-left: 5rem;
    box-shadow: 1px 1px 10px rgba(225, 247, 245, 1),
                1px -1px 8px rgba(225, 247, 245, 1);
}

.rubeGoldbergFinalDraft:hover{
    width: 40rem;
    height: 26rem;
    margin-right: 5rem;
    box-shadow: 1px 1px 10px rgba(225, 247, 245, 1),
                1px -1px 8px rgba(225, 247, 245, 1);
}

.rubeGoldbergVideoSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}

.rubeGoldbergVideo{
    width: auto;
}

.shrinkLeft{
    width: 20rem;
    height: 11rem;
    margin-left: 4rem;
}

.shrinkRight{
    width: 20rem;
    height: 11rem;
    margin-right: 4rem;
}

.reflectionSection{
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.noDecorationLink{
    text-decoration: none;
}

.littleText{
    font-size: 13px;
    margin-top: 35px;
}

.glowText{
    text-shadow: 1px 1px 10px rgba(225, 247, 245, 1),
                 1px -1px 8px rgba(225, 247, 245, 1);
}

.glowLink{
    transition: ease-in-out 0.2s;
}

.glowLink:hover{
    text-shadow: 1px 1px 10px rgba(225, 247, 245, 1),
                 1px -1px 8px rgba(225, 247, 245, 1);
}

.whiteHRTag{
    width: 100%;
    color: #E1F7F5;
    box-shadow:  1px 1px 10px rgba(225, 247, 245, 1),
                 1px -1px 8px rgba(225, 247, 245, 1);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 1rem 2rem 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}